.header {
  background: #282828;
  color: var(--color-white);

  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;

  .wrapper {
    padding: 32px 42px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1366px) {
      padding: 20px;
    }

    .logo {
      cursor: pointer;

      svg {
        width: 195px;
        height: 35px;
      }

      @media screen and (max-width: 1366px) {
        svg {
          width: 130px;
          height: 20px;
          margin-top: 10px;
        }
      }
    }

    .contacts {
      display: flex;
      align-items: center;
      gap: 12px;

      font-weight: 'Avenir  Light';
      font-size: 15px;

      p {
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          color: #f55139;
        }
      }

      @media screen and (max-width: 720px) {
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
      }
    }

    .links {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 16px;

      @media screen and (max-width: 1000px) {
        display: none;
      }

      li {
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;

        transition: all ease 0.3s;

        &:hover {
          color: #f55139;
        }

        svg {
          margin-right: 15px;
          margin-top: 2px;
          fill: #f55139;
        }

        .login {
          margin-top: 4px;
        }

        &:last-child {
          margin-left: 100px;

          @media screen and (max-width: 1366px) {
            margin-left: 30px;
          }
        }
      }
    }

    .mobileMenuIcon {
      display: none;

      @media screen and (max-width: 1000px) {
        display: block;

        svg {
          width: 40px;
          height: 40px;

          @media screen and (max-width: 720px) {
            width: 35px;
            height: 35px;
          }

          cursor: pointer;
          fill: #fff;
        }
      }
    }
  }
}
