.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  color: #fff;
  background: var(--background-black);
  width: 100vw;
  max-height: 100vh;
  height: 100%;

  padding: 20px;

  .top {
    .close {
      position: absolute;
      right: 30px;
      top: 30px;

      svg {
        cursor: pointer;
        width: 30px;
        height: 30px;
        path {
          fill: #fff;
        }
      }
    }
  }

  .links {
    width: 100%;
    list-style: none;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;

    padding-top: 70px;

    li {
      font-size: 22px;
      text-align: center;

      &:active,
      &:hover {
        color: #f55139;
      }
    }
  }
}
