.billing {
  background: #fbfbfa;
  border: 1px solid #d0d0d0;
  padding: 14px 24px;

  margin-bottom: 15px;
  min-width: 250px;

  padding: 20px;

  .balance {
    .top {
      margin-bottom: 30px;
      p {
        margin-bottom: 10px;
      }

      .badges {
        display: flex;
        align-items: center;
        gap: 12px;

        @media screen and (max-width: 720px) {
          gap: 6px;
        }

        input {
          margin-top: -1px;
          margin-right: 10px;
          outline: 0;
          width: 80px;
          background: none;
          border: 1px solid #e3e3e3;
          padding: 8px;
          height: 32px;
          font-size: 18px;
        }

        div {
          cursor: pointer;
          background: none;
          border: 2px solid #f55139;
          color: #f55139;
          font-weight: 200;
          border-radius: 20px;
          padding: 4px 14px;

          @media screen and (max-width: 720px) {
            font-size: 12px;
          }
        }
      }
    }

    input {
      margin-top: 10px;
      outline: 0;
      width: 250px;
      background: none;
      border: 1px solid #e3e3e3;
      padding: 8px;
      height: 32px;
      font-size: 16px;
    }

    .terms {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 12px;

      margin-bottom: 12px;
      margin-top: 30px;

      width: 80%;

      .termsWrapper {
        display: flex;
        align-items: center;

        .checkboxContainer {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 18px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          input:checked ~ .checkmark {
            background-color: #fff;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;

            border: 1px solid black;
          }

          .unchecked {
            border: 1px solid red;
          }

          .checkmark:after {
            content: '';
            position: absolute;
            display: none;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark:after {
            left: 7px;
            top: 4px;
            width: 3px;
            height: 7px;
            border: solid gray;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }

        p {
          font-size: 14px;
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .button {
      margin-top: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 1366px) {
        flex-direction: column;
        gap: 20px;

        text-align: center;
      }

      button {
        cursor: pointer;
        border: 1px solid var(--color-black);
        font-size: 14px;
        width: 340px;
        height: 45px;
        border-radius: 40px;
        background: none;

        @media screen and (max-width: 720px) {
          width: 200px;
        }
      }

      p {
        @media screen and (max-width: 1366px) {
          font-size: 14px;
        }
        span {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
