.tour {
  background-color: var(--background-white);
  width: 100%;

  padding-left: 30px;
  padding-right: 30px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;
    padding-top: 53px;
    max-width: 940px;
    width: 100%;

    @media screen and (max-width: 1366px) {
      gap: 40px;
    }

    @media screen and (max-width: 720px) {
      gap: 10px;
    }

    .title {
      text-align: center;
      font-size: 50px;
      margin-bottom: 32px;
      @media screen and (max-width: 1366px) {
        font-size: 32px;
      }
    }

    .desc {
      line-height: 1.75em;
      text-align: center;
      font-size: 18px;
      font-weight: 500;

      margin-bottom: 32px;

      @media screen and (max-width: 1366px) {
        font-size: 16px;
      }
    }

    .step {
      display: flex;
      align-items: flex-start;
      gap: 50px;

      margin-bottom: 50px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      img {
        max-width: 560px;

        @media screen and (max-width: 1366px) {
          max-width: 400px;
        }
        @media screen and (max-width: 720px) {
          max-width: 100%;
          width: 100%;
        }
      }

      .stepTwoImg {
        @media screen and (max-width: 720px) {
          margin-top: -130px;
        }
      }

      .info {
        .stepTitle {
          font-size: 28px;
          margin-bottom: 30px;

          @media screen and (max-width: 1366px) {
            margin-bottom: 15px;
          }
        }
        .stepDesc {
          font-size: 20px;
          margin-bottom: 50px;

          @media screen and (max-width: 1366px) {
            margin-bottom: 10px;
            font-size: 16px;
          }
        }
        .stepAbout {
          font-size: 18px;

          @media screen and (max-width: 1366px) {
            font-size: 16px;
          }
        }

        .notes {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          color: var(--color-black);

          font-size: 12px;

          span {
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
