@font-face {
  font-family: 'Avenir Light';
  src: local('Avenir Light'), local('avenir-light'),
    url('../assets/fonts/avenir-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--barlow);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --barlow: 'Barlow', sans-serif;
  --background-white: #efece2;
  --background-black: #181818;
  --color-black: #181818;
  --color-white: #ffffff;
}
