.home {
  width: 100%;

  .image {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position-y: 40px;
  }
}
