.personalData {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-top: 25px;

  .account {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 30px;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      gap: 15px;
    }

    .text {
      .title {
        font-size: 26px;
      }
      .desc {
        margin-top: 10px;
        font-size: 14px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      .reset {
        border: 0;
        background: none;
        border: 1px solid #8c8c8c;
        color: #8c8c8c;
        height: 36px;
        width: 100px;
        cursor: pointer;
      }

      .update {
        border: 0;
        background: #8c8c8c;
        height: 36px;
        width: 100px;
        cursor: pointer;
        color: #fff;
      }
    }
  }

  .info {
    padding-top: 30px;
    font-size: 14px;
    .title {
      font-size: 20px;
    }
    .desc {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .emailTitle {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .emailShow {
      opacity: 0.8;
      margin-bottom: 5px;
      font-size: 15px;
    }
    .emailDesc {
      opacity: 0.6;
      margin-bottom: 5px;
      font-size: 15px;
    }

    .fields {
      margin-top: 16px;
      margin-bottom: 30px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;

      @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;

        input {
          max-width: 240px;
          height: 34px;

          @media screen and (max-width: 720px) {
            max-width: 100%;
          }

          background: none;
          border: 1px solid #e3e3e3;
          outline: 0;

          padding: 10px;
          font-size: 16px;
          color: var(--color-black);

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--color-black);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--color-black);
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: var(--color-black);
          }
        }
      }

      .email {
        input {
          font-weight: 200;
          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #8c8c8c;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #8c8c8c;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #8c8c8c;
          }
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      justify-content: end;

      .reset {
        border: 0;
        background: none;
        border: 1px solid #8c8c8c;
        color: #8c8c8c;
        height: 36px;
        width: 100px;
        cursor: pointer;
      }

      .update {
        border: 0;
        background: #8c8c8c;
        height: 36px;
        width: 100px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
