.discounts {
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 100px;

  .discount {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 50px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      .link {
        svg {
          width: 45px;
          height: 45px;
        }
      }

      .title {
        font-size: 28px;
        font-weight: 500;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .code {
        opacity: 0.6;
      }
    }
  }

  .program {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 70px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      .icon {
        svg {
          width: 45px;
          height: 45px;
        }
      }

      .title {
        font-size: 28px;
        font-weight: 500;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      padding: 0 40px;

      li {
        line-height: 26px;
      }
    }
  }

  .tinkoff {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 70px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      .icon {
        svg {
          width: 220px;
          height: 120px;
        }
      }

      .title {
        font-size: 28px;
        font-weight: 500;
      }
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      padding: 0 40px;
      li {
        text-decoration: underline;
      }
    }
  }

  .bonus {
    margin-bottom: 100px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 70px;

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      .icon {
        svg {
          width: 50px;
          height: 50px;
        }
      }

      .title {
        font-size: 28px;
        font-weight: 500;
      }
    }
  }
}
