.advertisingStatistics {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  margin-top: 40px;

  .title {
    font-size: 28px;
  }

  .desc {
    span {
      text-decoration: underline;
      margin-right: 5px;
    }

    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      border: 0;
      background: none;

      width: 30px;
      height: 30px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }

  .example {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
}
