.advertisingStatistics {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;

  margin-top: 40px;

  @media screen and (max-width: 1366px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    font-size: 28px;

    @media screen and (max-width: 720px) {
      font-size: 18px;
    }
  }

  .desc {
    @media screen and (max-width: 720px) {
      font-size: 12px;
      margin-top: 10px;
    }

    span {
      text-decoration: underline;
      margin-right: 5px;
    }

    display: flex;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .example {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
}
